.freezer{
    display: none;
}
@media(min-width: 1200px) {
    .freezer{
        display: block;
        position: fixed;
        top: 0;
        left: calc(28vw - 533px);
        height: 100vh;
        z-index: 2;
        pointer-events: none;
    }
}
@media(min-width: 1920px) {
    .freezer{
        left: 0;
    }
}