.container{
    position: fixed;
    top: -1650px;
    /* left: -500px; */
    left: calc(44vw - 1033px);
    width: 1600px;
    height: 1600px;
    border: solid rgba(41, 190, 201, 0.5);
    border-width: 150px;
    border-radius: 50%;
}
.container img{
    height: 300px;
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 150px);
    transition: 1s;
}
.left{
    transform: rotate(120deg) translateY(800px);
}
.active{
    transform: rotate(0deg) translateY(800px);
}
.right{
    transform: rotate(-120deg) translateY(800px);
}
@media (min-width: 1200px){
    .container{
        top: -1600px;
        left: calc(42vw - 1300px);
        width: 1600px;
        height: 1600px;
        border-width: 200px;
    }
    .container img{
        height: 400px;
        top: calc(50% - 100px);
        left: calc(50% - 200px);
    }
    .left{
        transform: rotate(120deg) translateY(800px);
    }
    .active{
        transform: rotate(0deg) translateY(800px);
    }
    .right{
        transform: rotate(-120deg) translateY(800px);
    }
}